* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

body {
    background-color: #0065c9; /* color of the Ocean which is ocean blue  */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    background-image: linear-gradient(45deg, #0065c9 0%, #043b72 100%);
}

.calculator {
    width: 100%;
    max-width: 375px;
    background-color: #f5d76c; /* Luffy's Straw Hat is the color yellow */
    overflow: hidden;
    border-radius: 15px;
    border: 8px solid #c52018; /* Luffy's red pants*/
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.display {
    padding: 20px;
    text-align: right;
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 64px;
    font-weight: 600;
    overflow: hidden;
    background-color: #043b72; /* Dark blue like the ocean depths */
    color: white;
    border-bottom: 4px solid #c52018; /* Luffy's red pants*/
}

.input-display {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    padding: 20px;
    background-color: #f5d76c; /* Luffy's Straw Hat yellow */
}

button {
    border: none;
    border-radius: 50%;
    height: 80px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.utility {
    background-color: #0090c9; /* Franky blue */
    color: white;
}

.operation {
    background-color: #c52018; /* Luffy red pants*/
    color: white;
}

.number {
    background-color: #333333; /* Dark like the Black Blade */
    color: white;
}

button.double {
    grid-column: span 2;
    border-radius: 40px;
    text-align: left;
    padding-left: 30px;
}

#equals {
    background-color: #1e9b45; /* Zoro green */
    color: white;
}

#clear {
    background-color: #7e3794; /* Robin purple */
    color: white;
}

@media (max-width: 500px) {
    .calculator {
        height: 100vh;
        max-width: 100%;
        border-radius: 0;
    }
    
    .buttons {
        height: calc(100% - 120px);
    }
    
    button {
        height: 65px;
        font-size: 26px;
    }
}